# MS SQL Server Database Credentials (Cloud / Local)
SQL_USER=your_db_user
SQL_PASSWORD=your_db_password
SQL_SERVER=your_sql_server_host.database.windows.net
SQL_DATABASE=your_db_name
SQL_PORT=1433
SQL_ENCRYPT=true
SQL_TRUST_SERVER_CERTIFICATE=false
